@import "../../libs/flex-less/flex.less";
@import "../../utils/common.less";

.header {
    text-align: center;
    background-color: @col-green;
    padding:  15px 0px;
    color: #fff;
    .avatar {
        border-radius: 100%;
        width: 56px;
        height: 56px;
        /* box-shadow: 0px 0px 15px #000; */
        margin: 10px auto;
    }
    view{
        margin-top:  10px;
    }
}

.menu-group {
    .display(flex);
    .justify-content(space-between);
    .menu {
        .flex(1);
        padding: 16px 0;
        text-align: center;
        image {
            width: 38px;
            height: 38px;
        }
        view {
            font-size: 12px;
            color:@col-666;
        }
    }
}

.content {
    border-top:6px solid #f5f5f5;
    view {
        .display(flex);
        .align-items( center );
        font-size: 14px;
        border-bottom: 1px solid #f5f5f5;
        height: 38px;
        color:@col-666;
        text:nth-child(1) {
            display: inline-block;
            .flex(1);
            margin-left: 10px;
        }
        .arrow{
            width:  8px;
            height: 14px;
            margin-right: 10px;
            .flex(none);
        }
        &:hover{
            background-color: #efefef;
        }
    }
}
.telephone{
    font-size: 16px;
    margin-top:20px;
}
