@import "../../libs/flex-less/flex.less";
@import "../../utils/common.less";

.text-center{
    text-align: center;
}
.p10(){
    padding: 10px;
}
.header{
    background-color : @col-green;
    color:#fff;
    padding:10px;
    .header-top{
        .display(flex);
        .justify-content(space-between);
    }
    .balance-info{
        .display(flex);
        .flex-direction(column);
        text-align:center;
        .my-modou{
            .display(flex);
            .align-items(center);
            .justify-content(center);
            text{
                margin-left: 5px;
            }
        }
        .money{
            font-size:58px;
        }
        .desc{
            font-size:16px;
        }
        image{
            .icon-size();
        }
    }
}
.charge-money-list{
    .display(flex);
    .flex-wrap(wrap);
    .charge-money-item{
        padding:10px;
        width:50%;
        box-sizing:border-box;
        .charge-money-item-inter-box {
            color:@col-gray;
            border-radius:3px;
            border:1px solid @col-gray;
            padding:10px;
            view{
                text-align: center;
                &:nth-child(1){
                    padding-bottom: 5px;
                    margin-bottom: 5px;
                }
                &:nth-child(2){
                    font-size: 12px;
                }
            }
        }
        &.cur {
            .charge-money-item-inter-box {
                color: @col-green;
                border-color: @col-green;
            }
        }
    }
}

.empty-data{
    text-align: center;
}

.footer{
    .p10();
    position: fixed;
    bottom:0px;
    left: 0px;
    right:0px;
    .protocol-txt{
        font-size: 12px;
        color:@col-gray;
        .protocol-link{
            color:@col-green;
        }
    }
    .charge-btn{
        .green-gradient();
        margin-bottom: 8px;
    }
}
