@import '../../libs/flex-less/flex.less';
@import '../../utils/common.less';
@tit-h:38px;
.l{
    float:left;
}
.r{
    float:right;
}
.f12{
    font-size:12px;
}
.f14{
    font-size:14px;
}
.m5{
    margin:5px;
}
.container > view{
    width : 100%;
}
image{
    width:100%;
}
.ad-wrap{
    width:100%;
    image{
        height:140px;
    }
}
.icon-30X30{
    width:20px;
    height:20px;
}
.icon-size{
    width: 20px;
    height:20px;
}
.location-info{
    height:@tit-h;
    line-height:@tit-h;
    .display(flex);
    .justify-content(space-between);
    .align-items(center);
    .icon-coordinate{
        .flex(none);
        .icon-coordinate();
        padding: 0px 5px;
    }
    text{
        .flex(1);
        height : @tit-h;
        line-height : @tit-h;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 14px;
    }
    .icon-refresh{
        .flex(none);
        .icon-size();
        padding: 0px 10px;
    }
}

.title {
    display:block;
    height:@tit-h;
    line-height:@tit-h;
    background-color:#eeeeee;
    text-indent:5px;
}

.recent-title{
    .title();
}
.vicinity-title {
    .display(flex);
    .justify-content(space-between);
    position:relative;
    margin: 10px;
    font-size: 14px;
    .vicinity-txt{
        &:before{
            content:' ';
            display:block;
            position:absolute;
        }
    }
    .map-view-btn{
        .display(flex);
        .justify-content(center);
        .align-items(center);
        padding: 3px 8px;
        border:1px solid @col-ccc;
        color:@col-green;
        border-radius:15px;
        image{
            .icon-size();
        }
    }
}
.vicinity-item{
    .display(flex);
    .justify-content(space-between);
    .align-items(center);
    padding:5px 8px 15px 5px;
    border-top:1px solid @col-eee;
    .vicinity-item-right{
        .flex(none);
        text-align: right ;
    }
    .address{
        color:gray;
    }
}

.qrcode-btn{
    background-color:@col-green;
    border-radius : 100px;
    color:white;
    width:130px !important;
    height:38px;
    line-height:38px;
    text-align:center;
    position:fixed;
    bottom:10px;
    left:50%;
    margin-left:-50px;
    image{
        .icon-size();
        margin-right: 5px;
        vertical-align:middle;
    }
    &:hover{
        background-color:#16b88b;
    }
}
.list-wrap{
    border-top:8px solid #f5f5f5;
}
