@import '../../libs/flex-less/flex.less';
@import '../../utils/common.less';
@import '../../utils/component.less';

.page{
    .page();
}
.product-pic {
    width: 100%;
    height: 180px;
}

.consume-list {
    margin-bottom: 20px;
    padding: 10px;
    .consume-item {
        .display(flex);
        width: 100%;
        border: 1px solid @col-green;
        border-radius: 3px;
        margin-bottom: 20px;
        height: 62px;
        .left-col {
            .flex(1);
            background-color: @col-green;
            color: #fff;
            padding: 10px;
            position: relative;
            .amounts {
                color: yellow;
                font-size: 14px;
            }
            .arrow {
                width: 18px;
                height: 62px;
                position: absolute;
                top: 0px;
                right: -18px;
            }
        }
        .right-col {
            .flex(1);
            .display(flex);
            .align-items(center);
            .justify-content(center);
            color: @col-green;
            font-size: 24px;
        }
    }
}

.contact {
    position: fixed;
    left:50%;
    bottom: 5px;
    background-color: #fff;
    font-size: 14px;
    color: #555;
    height: 28px;
    line-height: 28px;
    @w:150px;
    width: @w;
    margin-left: -(@w * 0.5);
    border:1px solid @col-ccc;
    border-radius:15px;
    padding: 0px 10px;
    image{
        display:inline-block;
        position:absolute;
        top:5px;
        width: 16px;
        height:16px;
    }
    text{
        margin-left: 20px;
    }
}

.box-space(){
    padding:12px 12px 0;
}
.bord-top(){
    border-top:1px solid @col-eee;
}
.popup{
    background-color:rgba(0,0,0,.5);
    position: absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    display:none;
    &.show{
        display:block;
    }
    .content{
        border-radius: 5px;
        background-color: #FFF;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        min-width:300px;
    }
    .btn-wrap{
        text-align: center;
        margin: 15px 10px 10px;
        .btn{
            .green-gradient();
            border-radius:80px;
            width: 180px;
        }
    }
}

.pay-type-choose-popup{
    .title,.sub-title{
        font-size: 16px;
        .box-space();
    }
    .sub-title{
        color:@col-green;
    }

    .header{
        .bord-top();
        .box-space();
        font-size: 16px;
        color:@col-gray;
        margin-top: 10px;
    }
    .pay-type-group{
        .box-space();
        .radio-group{
            .display(flex);
            .justify-content(space-between);
            .pay-type{
                .flex(1);
                &:nth-child(even){
                    text-align: right;
                }
            }
        }
    }
    .use-coupon{
        .display(flex);
        .justify-content(space-between);
        .bord-top();
        .box-space();
        font-size: 16px;
        margin-top: 10px;
        color:@col-gray;

        .arrow{
            .arrow-icon();
            margin-left: 10px;
            .flex(none);
        }
    }
    .summary{
        font-size: 16px;
        .bord-top();
        .box-space();
        margin-top: 10px;
        .detail{
            color:@col-gray;
            > text {
                margin-right: 10px;
            }
        }
        .num{
            color:@col-green;
            font-size: 20px;
        }
    }
    .close-btn{
        position: absolute;
        top:10px;
        right: 10px;
        width: 38px;
        height: 38px;
        text-align: right;
    }
}

.pay-success-popup{
    text-align: center;
    image {
        .box-space();
    }
    image{
        width: 160px;
        height: 80px;
    }
    .content{
        min-width:260px;
    }
    .title{
        font-size: 22px;
        .box-space();
    }
    .sub-title{
        color:@col-gray;
        font-size: 16px;
    }
}

.text-center{
    text-align: center;
}

